body {
  font-family: sans-serif;
   margin: 0;
   background: linear-gradient(to bottom, #d8d8d8 0%, #fdfdfd 100%);
   height:100%;
   width: 100%;
   background-image: url('/assets/images/letter.jpeg');
   overflow: auto;
   background-size: cover;
   zoom:100%
}

h1 {
  text-align: center;
  margin-top: 50px;
  padding-top: 7px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(245, 245, 245);
}

.text-background{
height: 50px;
border-bottom: 2px solid rgb(100, 100, 100);
margin-top: 3%;
padding-bottom: 1%;
}
/* .txtover { 
  position:relative;
  height: 100%;
  width: 100%;
 } 
 .txtover figcaption { 
   position:absolute; 
   bottom:0;
    left:0 
  } */

.first-txt {
  position: absolute;
  top: 17px;
  left: 20px;
}

.navbar-background{
  /* position:absolute; */
  left: 10%;
  right: auto;
  top:9%;
  right: auto;
  width: fit-content;
  position: absolute;
  display:inline-block;
  background-color:transparent;
  /* margin-top: 60px; */
  /* background-color: red; */
}

.navbar-item{
  color:rgb(223, 223, 223);
  font-size: 15px;
  height: 100%; 
  /* opacity: 50%;  */
}

.navbar-element{
  /* padding-right: 9.5vw; */
  /* padding-left: 1vw; */
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(224, 222, 222);
}
.navbar-element2{
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  /* padding-left: 1vw; */
  color: rgb(224, 222, 222);
}
.navbar-element3{
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(224, 222, 222);
  padding-right: 53vw;
}
.navbar-element4{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border:2px solid rgb(231, 231, 231);
  vertical-align: middle;
}

/* p {
  text-align: center;
  margin-bottom:60px;
} */

h4{
  text-align:center; 
  line-height:80px;
  font-weight:normal;
}

.masonry { /* Masonry container */
    -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
   margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
    width: 80%;
    margin-left: 9.5%;
}
.item {
    display: inline-block;
    background-color: rgba(255, 255, 255, 1);
    padding: 1em;
    margin: 0 0 1.5em;
    height: 100%;
    width: 100%;
    -webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 5px;
    position: relative;
    text-align: center;
}
.item img{
  max-width:100%;
  width: 100%;
  position: relative;
}
.item .imageText{
  background-color: rgba(146, 146, 146, 0.4);
  width: 70%;
  height: 20%; 
  left: 5%;
  font-size: medium;
  position: absolute; 
  bottom: 4.4%; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(233, 233, 233);
  overflow: hidden;
  border: none;
  outline: none;
  border-radius: 5%;
}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.3);
  z-index: 1; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}