<!DOCTYPE html>
<html>
    <head>
        <title>Hayden Web Add</title>
        <link rel="shortcut icon" type="image/x-icon" href="https://i.pinimg.com/originals/e5/57/83/e557839129d294a3bf4c76a5439e0f43.png" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/main.css" type="text/css">
        <link rel="stylesheet" href="css/footer.css" type="text/css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="javascripts/main.js" type="text/javascripts"></script>
      </head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/addImage.css" type="text/css">
<script src="javascripts/upload.js" type="text/javascripts"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<meta charset=utf-8 />
<div class="cont">
    <div class="image">
        <div class="addImage fade-in-image">
            <% if (locals.message) { %>
                <div
                    style="height:10%;width:50%;background-color:ghostwhite;padding: 15px; padding-left: 15%;opacity: 70%;">
                    <p style="font-size: large;">
                        <%= locals.message %>
                    </p>
                </div>
                <%} else { %>
                    <div
                        style="height:10%;width:100%;background-color: aliceblue;padding: 15px; padding-left: 35%;opacity: 0%;">
                        <p style="font-size: large;"></p>
                    </div>
                    <% } %>

                    <a href='/'><i class="fa fa-home" style="font-size: 18px; color: rgb(190, 190, 190);margin-left:35%;">&nbsp Home</i></a>
                    <div class='spin2' id='buttonSwitch'>
                    <button class="buttonload" style='margin-left:-6%;margin-top: 8%;background: transparent;'>
                        <i class="fa fa-spinner fa-spin" style="font-size:50px; margin-bottom: 1%;"></i>
                        <p style='margin-top: 5%;'>Image Uploading</p>
                      </button>
                    </div>
                        <img class='image_selected' src="#" id="img">
                        <form class="image__form" action="/uploadImages" method="POST">
                            <div class="login__row">
                                <input type="file" class="login__input file" id="file" name="file" />
                            </div>
                            <div class="login__row">
                                <input type="text" class="login__input title" id="title" name='title'
                                    placeholder="Title" />
                                    <input type="hidden" class="login__input imageUrl" id="imageUrl" name='imageUrl' value=""/>
                            </div>
                            <div class="description__row">
                                <textarea name="description" class="login__input description" id="description"
                                    placeholder="Description"></textarea>
                            </div>
                            <button class="image__submit" type="submit" id="subImg">Submit</button>
                            <script>
                                const file = document.getElementById("file")
                                const img = document.getElementById("img")
                                const url = document.getElementById('imageUrl')
                                const button = document.getElementById('buttonSwitch')
                                file.addEventListener("change", ev => {
                                    button.setAttribute("class","spin1")
                                    console.log('Running Function ...')
                                    const formdata = new FormData()
                                    console.log('File Should be here:',ev.target.files[0])
                                    formdata.append("image", ev.target.files[0])
                                    var empty = {};
                                    console.log('Form Data:', formdata)
                                    fetch("https://api.imgur.com/3/image/", {
                                        method: "post",
                                        headers: {
                                            Authorization: "Client-ID 4e6b3b003bb5105"
                                        },
                                        body: formdata
                                    }).then(data => data.json()).then(data => {
                                        console.log('Data:', data)
                                        img.src = data.data.link
                                        url.value = data.data.link
                                        button.setAttribute("class","spin2")
                                    })
                                })
                            </script>
                        </form>
        </div>
    </div>
</div>