<!DOCTYPE html>
<html>
  <head>
    <title>Hayden Web Edit </title>
    <link rel="shortcut icon" type="image/x-icon" href="https://i.pinimg.com/originals/e5/57/83/e557839129d294a3bf4c76a5439e0f43.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/footer.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="javascripts/main.js" type="text/javascripts"></script>
  </head> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/editImages.css" type="text/css">
<script src="javascripts/upload.js" type="text/javascripts"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<meta charset=utf-8 />
<div class="cont">
  <table class='table1'>
    <% if (locals.message) { %>
      <p class='prompt'><i class='fa fa-check' style="font-size: 20px; background-color: rgb(136, 253, 113);border-radius: 50%;padding: 3px;margin-right: 3%;"></i><%=locals.message%></p>
      <%} else { %>
        <!-- <p class='prompt'><i class='fa fa-check' style="font-size: 20px; background-color: rgb(136, 253, 113);border-radius: 50%;padding: 3px;margin-right: 3%;"></i><%=locals.message%></p> -->
      <% } %>
      <a href="/" style="font-size: 15px;color: rgb(150, 150, 150);text-decoration: none;font-family:Verdana, Geneva, Tahoma, sans-serif; position: absolute;top:5%;right:25%"><i class='fa fa-home' style="padding-right:3px"></i>Home</a>
    <tr class='tr1'>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    <% for(var i=0; i < locals.images.length; i++) {%>
    <tr class="tr2">
      <form action='/editImagesInfo' method="post" >
      <td class='td1'><img style='height: 90%;width: 90%;' src="<%= locals.images[i].imageUrl%>"></td>
      <td class='td1'><input name='title' id='title' type="text" value="<%=locals.images[i].title%>" placeholder='Title' style="width:100%;text-align: center;background-color: rgba(255, 255, 255, 0.7);"></td>
      <td class='td1'><textarea name="description" id="description" cols="20" rows="10" style="border-radius: 15%;text-align: center;background-color: rgba(255, 255, 255, 0.7);"><%=locals.images[i].description%></textarea>
        <input name='id' id='id', type="hidden" value='<%=locals.images[i].id%>'>
      </td>
      <td class='td1'><a href="../deleteImages/<%=locals.images[i].id%>" style="text-decoration: none;color: black;"><i class='fa fa-trash-o' style="font-size: 20px;background-color: rgb(255, 255, 255);border-radius: 10%;padding-left: 5%;padding-right:5%"></i></a>
        <button type="submit"><i class="fa fa-pencil" aria-hidden="true" style="font-size: 20px;background-color: rgb(250, 249, 249);border-radius: 10%;padding-left: 5%;padding-right:5%"></i></button>
      </td>
    </form>
    </tr>
    <%} %>
  </table>
  <!-- <p style="color:white;font-family:'Courier New', Courier, monospace;font-size: 100px;padding-top: 18%;">Comming Soon</p>
      <a href="/" style="color:white;font-family:'Courier New', Courier, monospace;font-size: 20px;padding-top: 18%;text-decoration: none;">Back to Home</a> -->
</div>
