<!DOCTYPE html>
<html>

<head>
    <title>Hayden Web Event</title>
    <link rel="shortcut icon" type="image/x-icon"
        href="https://i.pinimg.com/originals/e5/57/83/e557839129d294a3bf4c76a5439e0f43.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/footer.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="javascripts/main.js" type="text/javascripts"></script>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/event.css" type="text/css">
<script src="javascripts/upload.js" type="text/javascripts"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<meta charset=utf-8 />
<div class="cont">
    <table class='table1'>

        <a href="/"
            style="font-size: 15px;color: rgba(255, 255, 255, 0.788);text-decoration: none;font-family:Verdana, Geneva, Tahoma, sans-serif; position: absolute;top:5%;right:25%"><i
                class='fa fa-home' style="padding-right:3px;color: rgba(255, 255, 255, 0.788);"></i>Home</a>
        <div class='timer'>
            <p class='timer-event' style="font-weight: 200;">Upcomming</p>
            <p id="demo"></p>
            <% if (locals.event[0]) { %>
                <p class='timer-event'>
                    <%=locals.event[0].title%> on <%=locals.event[0].newDate%>
                </p>
                <% } %>
        </div>
        <% for(var i=1; i < locals.event.length; i++) {%>
            <tr class='tr1' style="color:rgba(53, 53, 53, 0.788)">
                <th>
                    <%=i%>
                </th>
                <th>
                    <%=locals.event[i].title%>
                </th>
                <th>
                    <%=locals.event[i].newDate%>
                </th>
                <th>
                    <%=locals.event[i].createdBy%>
                </th>
            </tr>
            <%} %>
                <tr class='tr1'>
                    <form action="/addEvent" method="post">
                        <th style="color: rgba(53, 53, 53, 0.788);">N/A</th>
                        <th><input name='title' id='title' type='text' placeholder="Title"
                                style="text-align: center;background-color:rgba(150, 150, 150, 0.486);"></th>
                        <th><input name='date' id='date' type='date' placeholder="Date"
                                style="text-align: center;background-color: rgba(150, 150, 150, 0.486);"></th>
                        <th><button type="submit" style="background-color: rgba(252, 252, 252, 0.486);width: 70%;"><i
                                    class="fa fa-plus-circle" aria-hidden="true"
                                    style="padding-right: 10%;"></i>Add</button></th>
                    </form>
                </tr>
    </table>
    <!-- <p style="color:white;font-family:'Courier New', Courier, monospace;font-size: 100px;padding-top: 18%;">Comming Soon</p>
      <a href="/" style="color:white;font-family:'Courier New', Courier, monospace;font-size: 20px;padding-top: 18%;text-decoration: none;">Back to Home</a> -->
</div>

<script>
    // Set the date we're counting down 
    var countDownDate = new Date('<%=locals.event[0].date%>');
    
    // Update the count down every 1 second
    var x = setInterval(function () {


        // Get today's date and time
        var now = new Date()
        console.log('From:', countDownDate, 'to', now)
        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo").innerHTML = days + "D " + hours + "H :"
            + minutes + "M :" + seconds + "S";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>