<!DOCTYPE html>
<html>
    <head>
        <title>Hayden Web Login</title>
        <link rel="shortcut icon" type="image/x-icon" href="https://i.pinimg.com/originals/e5/57/83/e557839129d294a3bf4c76a5439e0f43.png" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/main.css" type="text/css">
        <link rel="stylesheet" href="css/footer.css" type="text/css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="javascripts/main.js" type="text/javascripts"></script>
      </head>
<link rel="stylesheet" href="css/login.css" type="text/css">
<script src="javascripts/login.js" type="text/javascripts"></script>
<div class="cont">
    <div class="demo"> 
        <div class="login fade-in-image">
                <% if (locals.LoginError) { %>
                    <div style="height:10%;width:100%;background-color:ghostwhite;padding: 15px; padding-left: 25%;opacity: 70%;">
                        <p style="font-size: large;"><%= locals.LoginError %></p>
                    </div>
                    <%} else { %>
                        <div style="height:10%;width:100%;background-color: aliceblue;padding: 15px; padding-left: 35%;opacity: 0%;">
                            <p style="font-size: large;">LoginError</p>
                        </div>
                    <% } %>
            <div class="login__check"></div>
            <form class="login__form" action='/login' method="POST">
                <div class="login__row">
                    <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                        <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                    </svg>
                    <input type="email" class="login__input name" id="email" name='email' placeholder="Email" />
                </div>
                <div class="login__row">
                    <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                        <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                    </svg>
                    <input type="password" class="login__input pass" id='password' name='password' placeholder="Password" />
                </div>
                <button type="submit" class="login__submit">Sign in</button>
                <!-- <p class="login__signup">Don't have an account? &nbsp;<a href="/register">Sign up</a></p> -->
            </form>
        </div>
    </div>
</div>