<!DOCTYPE html>
<html>

<head>
  <title>Hayden Web Home</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://i.pinimg.com/originals/e5/57/83/e557839129d294a3bf4c76a5439e0f43.png" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css" type="text/css">
  <link rel="stylesheet" href="css/footer.css" type="text/css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="javascripts/main.js" type="text/javascripts"></script>
</head>

<body >
  <div class="navbar-background">
    <div class='navbar-item'>
      <!-- <a>&nbsp;|</a> -->
      <img src="<%= locals.user.imageUrl%>" class="navbar-element4" alt="Avatar">
      <a class='navbar-element3'>Hello, <%= locals.user.name%></a>
      <a>&nbsp;&nbsp;|</a>
      <a href="user/event" class='navbar-element2'>Event</a>
      <a>&nbsp;&nbsp;|</a>
      <a href="user/addImages" class='navbar-element2'>Add</a>
      <a>&nbsp;&nbsp;|</a>
      <a href="user/editImages" class='navbar-element2'>Edit</a>
      <a>&nbsp;&nbsp;|</a>
      <a href="/logout" class='navbar-element'>Logout</a>
      <a>&nbsp;</a>
    </div>
  </div>
  <div class="text-background">
    <h1>Gallery</h1>
  </div>
  <div class="masonry fade-in-image">
    <% for(var i=0; i < locals.images.length; i++) {%>
      <div class="item">
        <%=locals.images[i].title%>
          <img class='zoom' src="<%= locals.images[i].imageUrl%>">
        <textarea class='imageText' readonly> <%=locals.images[i].description%></textarea>
      </div>
      <%} %>
  </div>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <div style='padding-left: 47.5%;height: 100%;'>
          <div class="tenor-gif-embed" data-postid="14214458" data-share-method="host" data-aspect-ratio="1.23153" data-width="10%">
           </div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
          </div>
          <p>Khoo Zhi Yi & Hayden Soo</p>
          <p><%=locals.date.days%> Days in Love</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
            <a href="#">Hayden Soo</a>.
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>